html
	head
		script(src='/socket.io/socket.io.js')
		script(src='/views/eccezione.js')
	body
		div
			ul
			- each eccezione in eccezioni
				span Mittente:
				li.mittente= eccezione.mittente
				span Messaggio:
				li.messaggio= eccezione.messaggio
