html
	head
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery.min.js')
		script(src='/views/eccezione.js')
	body
		div
			table(id='tab')
				thead
					tr	
						th Mittente
						th Messaggio
				tbody
					each eccezione in eccezioni
						tr
							td #{eccezione.mittente}
							td #{eccezione.messaggio}
