form(action='/eccezione', method='post')
 h1 
 p NodeForDummiesEccezione
 label(for='messaggio') Messaggio 
  input(type='text',name='messaggio') 
 label(for='mittente') Mittente
  input(type='text',name='mittente')
  input(type='submit',name='insertEccezione') Inserisci
 