form
 h1 
  a(href='http://nodefordummies.herokuapp.com/')
 p NodeForDummies
 label(for='txtDescrizione',text='Descrizione') 
  input(type='text',name='txtDescrizione') 
 label(for='txtProvincia', value='Provincia') 
  input(type='text',name='txtProvicia')
 